/* The product catagories */

.productcontainer {
    display: grid;
    grid-template-columns: repeat(2, 50vh);
    grid-template-rows: 25vh 25vh 25vh;
    grid-template-areas:
        "mainpic infobox"
        "mainpic infobox"
        "secondpic infobox";
    min-height: 100vh;
    padding: 25px;
    gap: 1vw;
    justify-content: center;
}

.mainpic {
    grid-area: mainpic;
    display: flex;
    justify-content: end;

}

.secondpic {
    grid-area: secondpic;
    display: flex;
    justify-content: end;
    gap: 1vw;
}

.infobox{
    grid-area: infobox;
    display: flex;
    justify-content: center;
}


.info {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 25px 0px #00000080;
    box-shadow: -5px -5px 25px 0px #FFFFFF;
    contain: content;
    border-radius: 25px;
    margin:auto;
    padding: 0 2em;
    box-shadow: 5px 5px 25px 0px #00000080;


}

.mainpicture {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 25px 0px #00000080;
    box-shadow: -5px -5px 25px 0px #FFFFFF;
    contain: content;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 5px 25px 0px #00000080;


}

.secondpicture {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 25px 0px #00000080;
    box-shadow: -5px -5px 25px 0px #FFFFFF;
    contain: content;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 5px 25px 0px #00000080;

}

.secondimg {
    width: 100%;
    height: 100%;
    position: absolute;
}


.productinfotitle {
    font-size: 1.5em;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-content: center;

}

.productinfotitle,.productinfoname,.productinfodevice,.productinfoprice {
    position: absolute;
    font-family: helvetica, arial, sans-serif;
    padding-top: 2em;
}
.productinfoname {
    font-size: 1.5em;
}

.productinfodevice {
    font-size: 1.5em;
    font-weight: bold;
    right: 0%;
    display: flex;
    width: 40%;
}





.productinfoprice {
    font-size: 1.2em;
    font-weight: lighter;
    padding-top: 4em;
}




.button{
    background-color:black;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 9em;
    box-shadow: 5px 5px 25px 0px #00000080;

    display: flex;
    justify-content: center;
    position: relative;
}


a {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

ul{
    margin: 2em;
    font-size: 1em;
}

.infotext{
    font-size: 1.2em;

}

@media screen and (max-width: 1440px) {
    .productcontainer {
        grid-template-columns: repeat(1, 30vh);
        grid-template-rows: 15vh 15vh 15vh;
        grid-template-areas:
        "mainpic"
        "mainpic"
        "secondpic"
        "infobox";
    }
    .productinfoprice {
        padding-top: 4.6em;
        font-size: 1.3em;
        }
        .productinfodevice {
            padding-right: 0;
            right: auto;
            padding-top: 3.5em;
            font-size: 1.3em;
            width: 80%;
            }
}

@media screen and (max-width: 900px) {
    .productcontainer {
        grid-template-columns: repeat(1, 30vh);
        grid-template-rows: 15vh 15vh 15vh;
        grid-template-areas:
        "mainpic"
        "mainpic"
        "secondpic"
        "infobox";
    }
    .productinfodevice {
        padding-right: 0;
        right: auto;
        padding-top: 3.5em;
        font-size: 1.3em;
        width: 80%;
        }
        .productinfoprice {
            padding-top: 4.6em;
            font-size: 1.3em;
            }
        
}

@media screen and (min-height: 850px) {
    .productcontainer {
        grid-template-columns: repeat(1, 30vh);
        grid-template-rows: 15vh 15vh 15vh;
        grid-template-areas:
        "mainpic"
        "mainpic"
        "secondpic"
        "infobox";
    }
    .productinfodevice {
        padding-right: 0;
        right: auto;
        padding-top: 3.5em;
        font-size: 1.3em;
        width: 80%;
        }
        .productinfoprice {
            padding-top: 4.6em;
            font-size: 1.3em;
            }
        
}

@media screen and (max-height: 975px) {
    .productinfoprice {
        padding-top: 5.8em;
        font-size: 1.3em;
        }
}






    




    